header {
  height: 520px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(247, 248, 152); */
  background-color: #ffc900;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  padding-top: 120px;
}

@media only screen and (min-width: 1024px) {
  header {
    margin-top: 160px;
    max-width: 728px;
  }
}