.tweet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.new-tweet{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.tweets {
  border: 3px solid black;
  width: 100%;
  margin-top: 60px;
  padding: 25px;
}

#tweet-message {
  width: 100%;
  padding: 10px 0px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

#tweet-text {
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}


.extras {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 60px;
  height: 60px;
}

.tweets:hover {
  box-shadow: 10px 5px 5px grey; 
}

.icon {
  padding-left: 5px;
  padding-top:5px;
  color:#28408d;
}

.icon:hover {
  color:rgb(196, 196, 45)
}

#error {
  width: 60%;
  display: flex;
  justify-content: center;
  border: 3.5px solid red;
  color: red;
  padding: 10px 5px;
}

.error-box{
  display:flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 50%;
    padding-top: 120px;
  }
 }